#page{
    margin-left: 400;
    margin-right: 400;
}

#accumulator{
 border: black 3px solid;
 height: 50px;
 font-size: 20px;
width: 100%;
resize: none;
}

.button, .operator, #equals, #buttonClear{
    height: 70px;
    width:99.3px;
    font-size: 20px;

}